{%load static%}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Learn &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="{%static 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800'%}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{%static 'css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{%static 'css/icomoon.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{%static 'css/style1.css'%}">

	<!-- Modernizr JS -->
	<script src="{%static 'js/modernizr-2.6.2.min.js'%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="index1.html">Code<span>.</span></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="active"><a href="index1.html">Home</a></li>
							<li class="has-dropdown">
								<a href="courses.html">Skills Available For Practice</a>
								<ul class="dropdown">
								<li><a href="{% url 'c' %}">C</a></li>
									<li><a href="{% url 'java' %}">Java</a></li>
									<li><a href="{% url 'python' %}">Python</a></li>
								</ul>
							</li>
							<li><a  href="{% url 'leader' %}">Leader Board</a></li>
							<li><a  href="{% url 'contact' %}">Contact</a></li>
							{% if user.is_authenticated %}
							<li><a  href="{% url 'logout' %}">Logout</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Skills Available For Practice</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-project">
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="c.html"><img src="{%static 'images/project-1.jpg'%}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
						<h3>C</h3>
						<span>View Questions</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="java.html"><img src="{%static 'images/project-2.jpg'%}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
						<h3>Java</h3>
						<span>View Questions</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="python.html"><img src="{%static 'images/project-3.jpg'%}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
						<h3>Python</h3>
						<span>View Questions</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container"><div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{%static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{%static 'js/jquery.easing1.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{%static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Stellar Parallax -->
	<script src="{%static 'js/jquery.stellar.min.js'%}"></script>
	<!-- Carousel -->
	<script src="{%static 'js/owl.carousel.min.js'%}"></script>
	<!-- countTo -->
	<script src="{%static 'js/jquery.countTo.js'%}"></script>
	<!-- Magnific Popup -->
	<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{%static 'js/magnific-popup-options.js'%}"></script>
	<!-- Main -->
	<script src="{%static 'js/main1.js'%}"></script>

	</body>
</html>

